#expiringfood li{
	margin-bottom: 1%;
	border-radius: 3%;
}

.food_pic{
	height:60px;

}

table{
	border-top: 0;
	border-bottom: 0;
	vertical-align: middle;
}

tbody{
	vertical-align: middle;
}

.food-name{
	font-size: .9em;
	text-align: center;
}

.food-count{
	font-size: .7em;
	color:gray;
	text-align: center;
}

.date{
	padding-top: 60px;
}

.exp-date{
	color: black;
	font-size: .8em;
	float: left;
	text-align: center;
}

.clock_pic{
	height: 15px;
	padding-right: 5px;
	padding-top: 3px;
	float: left;
}

.green-clock{
	color: #A0D468;
}

.red-clock{
	color: #FF6666;
}

.yellow-clock{
	color: #FFAF66;
}

td btn-sm{
	align: center;
}

.edit{
	align-content: right;
}

#myDoughnutChart{
	width:auto;
	height:50px;
}

.food-box{
	width: 200px;
	height:280px;
	background-color: white;
	border-radius: 5%;
	float: left;
	margin-left: 2%;
	position:relative;
}

.food-box img{
	margin-left: 30%;
	margin-top: 10%;
	height: 100px;
	width: auto;
}

.food-title{
	text-align: center;
	font-size: 1.5em;
	margin-top: 10%;
}

.food-weight{
	text-align: center;
}

.goal-weight{
	color:gray;
}

#goals-and-area .btn{
	position: absolute;
	bottom: 0;
}

.over-weight-mssg{
	color:red;
	font-size: .7em;
	text-align: center;
}

.chartContainer{
	height: 10px; 
	width: auto;
}

.box div{
	background-color: white;
	/*border-radius: 5% 5%;*/
	border-radius: 10px;
	/*margin: 2px;*/
	padding: 3px;
}

.price{
	text-align: center;
}

.saving-caption{
	text-align: center;
}





