/* WASTED MAIN CUSTOM CSS FILE */

/* GENERAL STYLING */

.bo{
 color: white;
 font-size: 28px
}

.btn-primary {
  background-color: #a0d468;
  border: none;
  font-size: 14px;
  padding: 15px;
}

.btn-primary:hover {
  background-color: #81b846;
}

.btn-primary.disabled {
  background-color: #a0d468;
  opacity: 0.5;
}

.main-content-header {
  margin-bottom: 30px;
}

.main-content-header h4 {
  padding-top: 10px;
  margin-right: 30px;
  float: left;
}

.main-content-header .button-after-header {
  float: left;
}

.main-content-header .right-float-button {
  float: right;
}

button.btn-primary {
  cursor: pointer;
}

.btn-secondary {
  background: #ffffff;
  color: #808080;
  border: none;
}

.btn-secondary:hover {
  background-color: #a0d468;
}

.filter-section,
.add-ingredient-boxes {
  margin-top: 30px;
}

input {
  border-radius: 10px;
}

.btn {
  border-radius: 10px;
  padding: 15px;
}

.wasted-label {
  margin-bottom: 10px;
  margin-top: 30px;
}
/* ADD INGREDIENTS */

.ingredient-search {
  width: 100%;
  padding: 15px;
}

input.form-control {
  border: none;
}

input.form-control::placeholder {
  opacity: 0.6;
}

.filter-section .dropdown {
  float: left;
  margin-right: 30px;
}

.ingredient-inner {
  background: #ffffff;
  border-radius: 10px;
  padding: 30px;
  height: 300px;
  cursor: pointer;
}

.ingredient-check {
  background: #f5f5f5;
  border-radius: 9999px;
  position: absolute;
  top: 15px;
  right: 30px;
  height: 50px;
  width: 50px;
  transition: background 0.2s ease-in-out;
}

.ingredient-check .fa {
  font-size: 20px;
  color: #fff;
  line-height: 50px;
  transform: translateX(-3px);
}

.ingredient-image img {
  height: 150px;
  display: block;
  margin: 0 auto;
  opacity: 0.6;
  margin-bottom: 30px;
  transition: opacity 0.2s ease-in-out;
}

.ingredient-inner h4 {
  text-align: center;
}
.ingredient-inner.selected .ingredient-image img {
  opacity: 1 !important;
}

.ingredient-inner.selected .ingredient-check {
  background: #a0d468 !important;
}

#ingredient-modal,
#custom-ingredient-modal {
  border-radius: 10px;
  width: 450px;
}

#ingredient-modal img,
#custom-ingredient-modal img {
  opacity: 1;
}

#ingredient-modal h4,
#custom-ingredient-modal h4 {
  text-align: center;
}

#ingredient-modal p,
#custom-ingredient-modal p {
  color: #bbb;
  font-size: 12px;
  text-align: center;
}

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
}
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 30px;
  height: 30px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
  line-height: 25px;
}

.minus:hover {
  background-color: #a0d468 !important;
}
.plus:hover {
  background-color: #a0d468 !important;
}
/*Prevent text selection*/
span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input {
  border: 0;
  width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled {
  background-color: white;
}

.inline-edit {
  width: 100%;
  height: 70px;
}

.left-edit {
  width: 50%;
  float: left;
}

.right-edit {
  width: 49%;
  float: left;
}

.inline-edit h4 {
  text-align: left !important;
}

.currency-input {
  border-radius: 0px !important;
  border-bottom: 1px solid #ddd !important;
}

.weight-input {
  margin-top: 30px;
}

.button-after-inline-edit {
  margin: 0 auto;
  display: block;
}

#custom-ingredient-modal input[type="text"] {
  border-radius: 0px !important;
  border-bottom: 1px solid #ddd !important;
}

#custom-ingredient-modal h4 {
  text-align: left !important;
  margin-bottom: 15px;
  margin-top: 15px;
}

#custom-ingredient-modal .inline-edit h4 {
  text-align: left !important;
  margin-bottom: 0px;
}

.ingredient-image.custom-image {
  opacity: 0.25;
  filter: saturate(0);
}
